<section class="section-menu">
  <div class="container">
    <nav>
      <div class="float-left">
        <a href="#">
          <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/flipapp-1f726.appspot.com/o/images%2Fdata_image%2FLogo-%20white.png?alt=media&token=543c0564-78b2-450a-94de-dc003a2eefb7"
            alt="Flip logo">
        </a>
      </div>

      <div class="float-right">
        <ul class="main-nav2">
          <li>
            <a [routerLink]="['/homepage']">Trang Chủ</a>
          </li>
          <li>
            <a [routerLink]="['/posts']">Bài Viết Hay</a>
          </li>
          <li>
            <a [routerLink]="['/about']">About me</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<section class="section-contents">
  <div class="container">
    <h2>Phương pháp học tiếng anh &ndash; nghe và nói
      <br> một cách tự nhiên nhất.</h2>
    <p class="long-copy">
      Với kinh nghiệm 3 năm tự học nhiều phương pháp để trau dồi tiếng anh, mình đã tóm lại được một cách học ít tốn nỗ lực và hiệu quả nhất.
    </p>
    <div class="row">
      <div class="col-md-4 box">
        <i class="fas fa-toolbox icon-big"></i>
        <h3>Phương Pháp</h3>
        <p>Phương pháp cũng giống con dao của người đầu bếp vậy. Sắc nhọn hay cùn mẻ là do có bít sử dụng đúng cách hay không.</p>
      </div>
      <div class="col-md-4 box">
        <i class="fas fa-book icon-big"></i>
        <h3>Tài liệu</h3>
        <p>Nhân vô thập toàn, vật vô thập diện. :D . Tài liệu chính là bí kíp, nhưng rơi vào tay kẻ khôn, kẻ khôn xưng bá võ lâm. Còn xui rủi rơi vào tay kẻ bần, bí kíp hay mấy cũng trở thành đống giấy lộn.
        </p>
      </div>
      <div class="col-md-4 box">
        <i class="fas fa-video icon-big"></i>
        <h3>Videos</h3>
        <p>Những bài giảng bằng video sẽ được cập nhật để tiện cho các bạn theo dõi và làm theo...</p>
      </div>

    </div>
  </div>
</section>

