<header class="general-header header-layout-one">
  <div class="general-header-inner">
    <div class="header-top-wrapper">
      <div class="header-top-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="search">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="search" placeholder="Search .........." [(ngModel)]='listFilter'>
              </div>
            </div>
            <!-- // col -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="social-networks">
                <ul class="social-links">
                  <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/flipenglishaway/">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a target="_blank" rel="noopener noreferrer" href="youtube.com">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- // social-networks -->
            </div>
            <!-- // col -->
          </div>
          <!-- // row -->
        </div>
        <!-- // container -->
      </div>
      <!-- // header-top-inner -->
    </div>
    <!-- // header-top-wrapper -->
    <div class="container">
      <div class="site-info">
        <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/flipapp-1f726.appspot.com/o/images%2Fdata_image%2FLogo.png?alt=media&token=c12053a3-e6d5-427a-a5d4-1b19e61efe30"
          alt="Flip logo">
        <!--  <img src="./assets/dist/img/logo.png" alt="logo"> -->
      </div>
      <!-- // site-info -->
    </div>
    <!-- // container -->
    <nav class="nav-bar nav-pills ">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/homepage']">Trang Chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active btn-light" [routerLink]="['/posts']">Bài Viết Hay</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/about']">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" [routerLink]="['/homepage']">Phản Hồi</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- // general-header-inner -->
</header>




<section class="section-posts">
  <div class="container-fluid">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/flipapp-1f726.appspot.com/o/images%2Fdata_image%2Fphoto1.jpeg?alt=media&token=9500947a-fa09-4c35-9628-1f87aa1bcae8" alt="First Post">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/flipapp-1f726.appspot.com/o/images%2Fdata_image%2Fphoto2.jpg?alt=media&token=945a4102-3603-4230-a769-c26a59d844e9" alt="Second Post">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/flipapp-1f726.appspot.com/o/images%2Fdata_image%2Fphoto3.jpeg?alt=media&token=1c467fe3-a0e2-45d9-8868-b459558a1c4c" alt="Third Post">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  </div>
</section>


<section class="section-listposts">
  <span style="opacity: 0%; width: 0%;" class="btn btn-default">
  </span>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="card float-left author-photo" style="width: 100%; margin-bottom: 2.5%; margin-top: 2.5%;" *ngFor='let post of filterPosts'>
          <img *ngIf="!post.videoURL" class="card-img-top" [src]="post.imageUrl" alt="Card image cap">
          <div *ngIf="!post.imageUrl"  class="embed-responsive embed-responsive-16by9">
            <iframe
              class="e2e-iframe-trusted-src"
              [src]="post.videoURL | youtube"
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ post.postTitle }} - {{ post.releaseDate | date }}</h5>
            <p class="card-text">{{ post.postDetail.detail_1 | truncate: 200 }}</p>
            <a [routerLink]="['/posts', post.postId]" class="btn btn-success text-white">Đọc thêm</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card float-right author-photo" style="width: 100%; margin-bottom: 2.5%; margin-top: 2.5%;">
          <img style="width: 100%;" class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/flipapp-1f726.appspot.com/o/images%2Fauthor%2Fid_photo.jpg?alt=media&token=d5e573c8-c54b-43bd-8f08-f5a75e926771" alt="author image">
          <div class="card-body text-center">
            <h5 class="card-title ">Cuong Phan</h5>
            <p class="card-text">Software Developer</p>
            <p style="font-family: Montserrat;" class="card-text">Knowledge is power, lets spread them widely.</p>
            <span>
              <a style="margin-right: 2%;" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/CuongPhan1990/">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="youtube.com">
                <i class="fab fa-youtube"></i>
              </a>
            </span>
            </div>
        </div>
      </div>
    </div>

  </div>
</section>












<!-- <div class="card">
  <div class="card-header">
      <div class="container">
        <nav>
          <div class="float-left">
            <a href="#">
              <img class="logo" src="https://firebasestorage.googleapis.com/v0/b/flipapp-1f726.appspot.com/o/images%2Fdata_image%2FLogo-%20white.png?alt=media&token=543c0564-78b2-450a-94de-dc003a2eefb7" alt="Flip logo">
            </a>
          </div>

          <div class="float-right">
            <ul class="nav-2">
              <li><a [routerLink]="['/homepage']">Trang Chủ</a></li>
                    <li><a [routerLink]="['/posts']">Bài Viết Hay</a></li>
                    <li><a [routerLink]="['/about']">About me</a></li>
            </ul>
          </div>
        </nav>
      </div>
  </div>
  <div class="container">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">
          Filter by:
        </div>
        <div class="col-md-4">
          <input type="text" [(ngModel)]='listFilter' />
        </div>
        <div class="col-md-6">
          <h4>Filtered by: {{listFilter}}</h4>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-hover" *ngIf='posts && posts.length'>

          <thead class="thead-dark">
            <tr>
              <th>
                <button class="btn btn-primary" (click)='toggleImage()'>
                  {{ showPosts ? 'Hide' : 'Show' }}
                </button>
              </th>
              <th>Post Title</th>
              <th>Author</th>
              <th>Date</th>
              <th>Details</th>
              <th>5 Star Rating</th>
            </tr>
          </thead>

          <tbody *ngIf='showPosts'>
            <tr *ngFor='let post of filterPosts'>
              <td>
                <a [routerLink]="['/posts', post.postId]">
                  <img [src]="post.imageUrl" [alt]="post.postTitle" [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
                </a>
              </td>
              <td> {{ post.postTitle }}</td>
              <td>{{ post.postAuthor }}</td>
              <td>{{ post.releaseDate }}</td>
              <td>{{ post.postDetail }}</td>
              <td>
                <app-star [rating]="post.starRating" (ratingClicked)="onRatingClicked($event)"></app-star>
              </td>

            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div> -->
