/* ----------------------------------------------
/* Header */
/*----------------------------------------------*/

.general-header .header-top-wrapper {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
  padding: 10px 0 15px 0;
}

.search {
  box-sizing: border-box;
  display: inline;
}

.search i {
  margin-right: 10px;
  position: relative;
  top: 3px;
  font-size: 18px;
}

.search input {
  border: 0;
  border-bottom: 1px solid #111;
  width: 80px;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 0px 5px 5px;
  -webkit-transition: 0.5s all cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.5s all cubic-bezier(0.55, 0, 0.1, 1);
  overflow: visible;
}

.search input:focus {
  outline: 0;
  width: 200px;
  font-size: 12px;
  font-weight: 500;
}

.general-header .header-top-inner .social-networks ul {
  text-align: right;
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: #111;
}

.general-header .header-top-inner .social-networks li {
  display: inline-block;
  margin-right: 5px;
}

.general-header .header-top-inner .social-networks ul li a,
.sidebar
  .sidebar-inner
  .widget
  .widget-extra-info-holder
  .widget-author-social
  .social-links
  li
  a,
footer
  .footer-inner
  .footer-block
  .footer-widget-content
  .social-networks
  .social-links
  li
  a {
  width: 35px;
  height: 35px;
  border: 1px solid #e0e0e0;
  border-radius: 100%;
  padding: 6px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  line-height: 20px;
}

i {
  color: #1111114d;
}

i.fa-facebook-f:hover {
  color: #4267b2;
  transition: color 0.5;
}

i.fa-youtube:hover {
  color: #db554e;
  transition: color 0.5;
}

.header-layout-one .general-header-inner .site-info {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0px 40px 0px;
}

/* ----------------------------------------------
/* Menu */
/*----------------------------------------------*/

nav {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 10px;
}

.category {
  position: absolute;
  border: 1px solid #fff;
  padding: 7px 20px;
  margin-bottom: 20px;
  color: #fff;
}

/*----------------------------------------------*/
/* Posts */
/*----------------------------------------------*/

.section-posts {
  padding: 0;
}

.posts-showcase {
  list-style: none;
  width: 100%;
}

.posts-showcase li {
  display: block;
  float: left;
  width: 33.33%;
}

.post-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.post-photo img {
  opacity: 0.7;
  width: 100%;
  height: 400px;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.author-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.author-photo img {
  width: 100%;
  margin-bottom: 5%;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.post-photo img:hover,
.post-photo img:active,
.author-photo img:hover,
.author-photo img:active {
  opacity: 1;
  transform: scale(1.03);
}
